.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxInput {
  display: none;
}

.customCheckbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCheckbox.light {
  border: 1px solid #ccc;
  background: white;
}

.customCheckbox.blue {
  border: 1px solid #151515;
  background: #131230;
}

.customCheckbox.dark {
  border: 2px solid #4d4d4d;
  background: #444
}

.customCheckbox.sunny {
  border: 2px solid #fdd896;
  background: #f8e995;
}

.checkboxInput:checked + .customCheckbox::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid #4CAF50;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
