.paper {
  width: 500px;
  height: 500px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
  .paper.light {
    border: 1px solid #ccc;
    background-color: white;
    color: black;
  }

  .paper.dark {
    bottom: 1px solid #333;
    background-color: #444;
    color: #ddd;
  }

  .paper.blue {
    border-bottom: 1px solid #151515;
    background-color: #0e0a21;
    color: #ddd;
  }
  
  .paper.sunny {
    border-bottom: 1px solid #fdd896;
    background-color: #f8e995;
    color: #ddd;
  }