.todoItem {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: background-color 0.3s;
}

.text {
  font-size: 24px;
  font-weight: 400;
}

.completedText {
  text-decoration: line-through;
}

.completedText.light {
  color: #ccc;
}

.completedText.dark {
  color: #666;
}

.todoItem.light {
  color: #666;
  border-bottom: 1px solid #ddd;
}

.todoItem.dark {
  color: #ccc;
  border-bottom: 1px solid #333;
}

.todoItem.light:hover {
  background-color: #eee;
}

.todoItem.dark:hover {
  background-color: #555;
}

.todoItem.blue:hover {
  background-color: #383242;
}