.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

.app {
  border-radius: 5px;
  padding: 20px;
  align-self: center;
  justify-content: center;

}

.content {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  position: relative;
  z-index: 100;
}

.paper {
  position: absolute;
}