.button {
  border: none;
  background: none; 
  
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
}

.active {
  border-radius: 2px;
  border: 2px solid rgba(175, 47, 47, 0.2);
}

.button.light:hover {
  background: #efefef;
}

.button.dark:hover {
  background: #333;
}

.button.light {
  color: #666;
}

.button.dark {
  color: #ddd;
}
