.form {
  display: flex;
  justify-content: center;
  margin: 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  border: none;
  outline: none;
  background-position: 20px center;
  background-repeat: no-repeat;
}

.input.light {
  background-color: #fff;
  color: #4d4d4d;
  border-bottom: #eee 1px solid;
}

.input.light:hover {
  background-color: #f0f0f0;
}

.input.dark {
  background-color: #4d4d4d;
  color: #ccc;
  border-bottom: #444 1px solid;
}

.input.dark:hover {
  background-color: #3a3a3a;
}

.icon {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  color: #d9d9d9;
  pointer-events: none;
}

.input::placeholder {
  font-weight: 200;
  font-style: italic;
}

.input.light::placeholder {
  color: #d9d9d9;
}

.input.dark::placeholder {
  color: #444;
}