.form {
  display: flex;
  justify-content: center;
  margin: 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  border: none;
  outline: none;
  background-position: 20px center;
  background-repeat: no-repeat;

}

.input.light {
  background-color: #fff;
  color: #4d4d4d;
  border-bottom: #eee 1px solid;
}

.input.dark {
  background-color: #4d4d4d;
  color: #ccc;
  border-bottom: #444 1px solid;
}

.input.blue {
  background-color: #0a0414;
  color: #ccc;
  border-bottom: #444 1px solid;
}

.input.sunny {
  background-color: #f8e995;
  color: #4d4d4d;
  border-bottom: #fdd896 1px solid;
}

.input.light:hover {
  background-color: #f1f1f1;
}

.input.dark:hover {
  background-color: #3a3a3a;
}

.input.blue:hover {
  background-color: #160730;
}

.icon {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  color: #d9d9d9;
  pointer-events: none;
}

.input::placeholder {
  font-weight: 200;
  font-style: italic;
}

.input.light::placeholder {
  color: #d9d9d9;
}

.input.dark::placeholder {
  color: #444;
}

.input.blue::placeholder {
  color: #444;
}